<%- include("header") -%>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">SWATO</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Home</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="menu.html">Menu</a>
      </li> -->
    </ul>
  </div>
</nav>
<div class="top-container">
  <h1>Swato</h1>
  <h2>Welcome to our website.</h2>
</div>

<form class="" action="/review" method="post">
<div class="middle-menu1">
  <hr class="space">
  <h3>Reviews</h3>
  <br>
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Gerald</h5>
      <p>4.5⭐</p>
      <p class="card-text">Swato special sandwich was very tasty.Must try</p>
    </div>
  </div>
  <hr class="space">
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Shreyas</h5>
      <p>4.2⭐</p>
      <p class="card-text">Swato special burger was so amazing and delicious.</p>
    </div>
  </div>
  <hr class="space">
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Abhishek</h5>
      <p>4.0⭐</p>
      <p class="card-text">Very much healthy and good menu.</p>
    </div>
  </div>
  <hr class="space">
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Sam</h5>
      <p>4.8⭐</p>
      <p class="card-text">Sandwich was very tasty.</p>
    </div>
  </div>
  <hr class="space">
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Swami</h5>
      <p>4.5⭐</p>
      <p class="card-text">Very good and healthy menu.Food was tasty.We liked it!</p>
    </div>
  </div>
  <hr class="space">
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Shreya</h5>
      <p>3.5⭐</p>
      <p class="card-text">Good food.</p>
    </div>
  </div>
  <hr class="space">
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Varsha</h5>
      <p>4.5⭐</p>
      <p class="card-text">Healthy diet.Could add some more items.</p>
    </div>
  </div>
  <hr class="space">
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Zack</h5>
      <p>3.9⭐</p>
      <p class="card-text">Best chicken rice ever tasted until now.Customer should try it first.</p>
    </div>
  </div>
  <hr class="space">
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Manoj</h5>
      <p>4.1⭐</p>
      <p class="card-text">Very yummy, but quantity was very less.</p>
    </div>
  </div>
  <hr class="space">
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Smith</h5>
      <p>4.3⭐</p>
      <p class="card-text">Milkshakes are awesome.Go for it guys.</p>
    </div>
  </div>
  <hr class="space">
  <% reviewedItems.forEach(function(item){ %>
    <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title"><%= item.NAME %></h5>
        <p><%= item.RATINGS %>⭐</p>
        <p class="card-text"><%= item.TEXT %></p>
      </div>
    </div>
    <hr class="space">
  <% }) %>
</div>




  <div class="col-12">
    <label class="form-label">Email</label>
    <input type="text" name="email" minlength="3" class="form-control" placeholder="Email" aria-label="Email" required />
  </div>
  <hr class="space">
  <div class="col-12">
    <label class="form-label">Name</label>
    <input type="text" name="fname" minlength="3" class="form-control" placeholder="Name" aria-label="Name" required />
  </div>
  <hr class="space">
  <div class="col-12">
    <label class="form-label">Ratings</label>
    <input type="text" name="rating" minlength="3" class="form-control" placeholder="Ratings" aria-label="Ratings" required />
  </div>
  <hr class="space">
  <div class="col-12">
    <label class="form-label">Text</label>
    <textarea rows="8" cols="80" name="text" type="text" minlength="3" maxlength="200" class="form-control" placeholder="Type-text" required /></textarea>
  </div>
  <hr class="space">
  <div class="col-12">
    <button class="btn btn-danger" name="signup" type="submit">SUBMIT</button>
    <hr class="space">
  </div>
</form>

<%- include("footer") -%>
